@(form: Form[Project])(implicit flash: Flash)

@main("Welcome to Play 2.1") {
    
   <div style="width:100%; height:600px; background-color:grey">
     <div style="width:100%; height:100px; background-color:red; top:50%">
       <div style="float: left;">
	     <ul id="projects">
	     </ul>           	
       </div>
     </div>
     <div style="width:100%; height:400px">
       @form.globalError.map { error =>
	     <p class="error">
	       @error.message
	     </p>
	   }
	 
	  @flash.get("success").map { message =>
	     <p class="success">
	       @message
	     </p>
	   }
     
       @helper.form(routes.ProjectController.addProject) {
       	 @helper.inputText(form("name"))
       	 <input type="submit">
       }
     </div>
   </div>
}
