@(form: Form[(String,String)], userForm: Form[User])(implicit flash: Flash)

@main("Login") {

  <h1>Sign in</h1>
  <br>
  @helper.form(routes.Auth.authenticate) {

  @form.globalError.map { error =>
    <p class="error">
      @error.message
    </p>
  }

  @flash.get("success").map { message =>
    <p class="success">
      @message
    </p>
  }

  <p>
    <input type="email" name="email" placeholder="Email" id="email" value="@form("email").value" autofocus="autofocus">
  </p>
  <p>
    <input type="password" name="password" id="password" placeholder="Password">
  </p>
  <p>
    <input type="submit" class="btn btn-medium btn-primary" value="Login">
  </p>
  }
  <br>
  @userForm.globalError.map { error =>
    <p class="error">
      @error.message
    </p>
  }

  @flash.get("success").map { message =>
    <p class="success">
      @message
    </p>
  }
  @helper.form(routes.UserController.addUser) {
	@helper.inputText(userForm("email"))<br>
	@helper.inputText(userForm("password"))
	<input type="submit">  	
  }
}