@(form: Form[ProjectTable])(implicit flash: Flash)

@main("Welcome to Play 2.1") {
    
   <div style="width:100%; height:600px; background-color:grey">
     <div style="width:100%; height:120px; background-color:red; top:50%">
       <div style="float: left;">
	     <ul id="projects">
	     </ul>           	
       </div>
     </div>
     <div style="width:100%; height:400px; background-color:white">
       <div style="background-color: yellow; width:20%; height:100%; float:left">
	       @form.globalError.map { error =>
		     <p class="error">
		       @error.message
		     </p>
		   }
		 
		  @flash.get("success").map { message =>
		     <p class="success">
		       @message
		     </p>
		   }
	     
	       @helper.form(routes.ProjectController.addProjectTable) {
	       	 @helper.inputText(form("name"))
	       	 <input type="submit">
	       }
	       <br>
	       <ul id="projectTables">
	       </ul>
       </div>
       <div style="float:right; background-color: green; width:80%; height:100%">
         <div id="divTablePanel" style="height:10%; background-color: blue">
         </div>
         <div id="divTableColumns" style="background-color: white; height: 90%">
         </div>
       </div>
     </div>
   </div>
}
